body{
    margin: 15em;
    padding: 0;
    background-color: #f5f5dc;

}

h2{
font-family: arial;
color: green;

text-align: center;
}

img{
height: 50%;
width: 50%;
display: block;
margin-right: auto;
margin-left: auto;

}

